In [1]:
import pandas as pd
import pymysql

In [2]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [3]:
cur_1=conn1.cursor()

In [4]:
sql="CALL userProc1('조관우');"

In [5]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [6]:
pd_1=pd.DataFrame(rows_1)
pd_1

     0    1     2   3    4        5    6           7
0  JKW  조관우  1965  경기  018  9999999  172  2010-10-10

In [7]:
import pandas as pd
import pymysql

In [8]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [9]:
cur_1=conn1.cursor()

In [10]:
sql="CALL userProc2(1970,178);"

In [11]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [12]:
pd_1=pd.DataFrame(rows_1)
pd_1

     0    1     2   3     4        5    6           7
0  LSG  이승기  1987  서울   011  1111111  182  2008-08-08
1  SSK  성시경  1979  서울  None     None  186  2013-12-12

In [27]:
import pandas as pd
import pymysql

In [28]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [29]:
cur_1=conn1.cursor()

In [30]:
sql="CALL userProc3('테스트값',@myValue);"
sql2="SELECT CONCAT('현재 입력된 ID 값 ==>',@myValue);"

In [31]:
cur_1.execute(sql)
cur_1.execute(sql2)
rows_1=cur_1.fetchall()
conn1.close()

In [32]:
pd_1=pd.DataFrame(rows_1)
pd_1

                  0
0  현재 입력된 ID 값 ==>2