In [1]:
import pandas as pd
import pymysql

In [2]:
conn=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [3]:
cur=conn.cursor()

In [4]:
sql_1="CREATE TABLE testTbl4(SELECT emp_no,first_name,last_name FROM employees.employees)"
sql_2="SELECT * FROM testTbl4"

In [5]:
cur.execute(sql_1)
rows=cur.fetchall()
conn.close()

OperationalError: (1050, "Table 'testTbl4' already exists")

In [ ]:
pd=pd.DataFrame(rows)
pd.head()

In [ ]:
import pandas as pd
import pymysql

In [ ]:
conn=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [ ]:
cur=conn.cursor()

In [ ]:
cur.execute(sql_2)
rows_1=cur.fetchall()
conn.close()

In [ ]:
pd=pd.DataFrame(rows_1)
pd.head()