In [1]:
import pandas as pd
import pymysql

In [2]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [3]:
cur_1=conn1.cursor()

In [4]:
sql="SELECT ASCII('A'),CHAR(65);"

In [5]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [6]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

    0     1
0  65  b'A'

In [7]:
import pandas as pd
import pymysql

In [8]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [9]:
cur_1=conn1.cursor()

In [10]:
sql="SELECT BIT_LENGTH('가나다'),CHAR_LENGTH('가나다'),LENGTH('가나다');"

In [11]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [12]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

    0  1  2
0  72  3  9

In [13]:
import pandas as pd
import pymysql

In [14]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [15]:
cur_1=conn1.cursor()

In [16]:
sql="SELECT CONCAT_WS('/','2025','01','01');"

In [17]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [18]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

            0
0  2025/01/01

In [19]:
import pandas as pd
import pymysql

In [20]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [21]:
cur_1=conn1.cursor()

In [22]:
sql="SELECT ELT(2,'하나','둘','셋'),FIELD('둘','하나','둘','셋'),FIND_IN_SET('둘','하나,둘,셋'),INSTR('하나둘셋','둘'),LOCATE('둘','하나둘셋');"

In [23]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [24]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

   0  1  2  3  4
0  둘  2  2  3  3

In [25]:
import pandas as pd
import pymysql

In [26]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [27]:
cur_1=conn1.cursor()

In [28]:
sql="SELECT FORMAT(123456.123456,4);"

In [29]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [30]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

              0
0  123,456.1235

In [31]:
import pandas as pd
import pymysql

In [32]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [33]:
cur_1=conn1.cursor()

In [34]:
sql="SELECT BIN(31),HEX(31),OCT(31);"

In [35]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [36]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

       0   1   2
0  11111  1F  37

In [37]:
import pandas as pd
import pymysql

In [38]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [39]:
cur_1=conn1.cursor()

In [40]:
sql="SELECT INSERT('abcdefghi',3,4,'@@@@');"

In [41]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [42]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

           0
0  ab@@@@ghi

In [43]:
import pandas as pd
import pymysql

In [44]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [45]:
cur_1=conn1.cursor()

In [46]:
sql="SELECT LEFT('abcdefghi',3);"

In [47]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [48]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

     0
0  abc

In [49]:
import pandas as pd
import pymysql

In [50]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [51]:
cur_1=conn1.cursor()

In [52]:
sql="SELECT LOWER('abcdEFGHI');"

In [53]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [54]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

           0
0  abcdefghi

In [55]:
import pandas as pd
import pymysql

In [56]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [57]:
cur_1=conn1.cursor()

In [58]:
sql="SELECT LPAD('이것이',5,'##');"

In [59]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [60]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

       0
0  ##이것이

In [61]:
import pandas as pd
import pymysql

In [62]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [63]:
cur_1=conn1.cursor()

In [64]:
sql="SELECT LTRIM('		이것이');"

In [65]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [66]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

         0
0  \t\t이것이

In [67]:
import pandas as pd
import pymysql

In [68]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [69]:
cur_1=conn1.cursor()

In [70]:
sql="SELECT TRIM('		이것이		');"

In [71]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [72]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

             0
0  \t\t이것이\t\t

In [73]:
import pandas as pd
import pymysql

In [74]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [75]:
cur_1=conn1.cursor()

In [76]:
sql="SELECT TRIM(BOTH 'ㅋ' FROM 'ㅋㅋㅋ재밌어요ㅋㅋㅋ');"

In [77]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [78]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

      0
0  재밌어요

In [79]:
import pandas as pd
import pymysql

In [80]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [81]:
cur_1=conn1.cursor()

In [82]:
sql="SELECT REPEAT('이것이',3);"

In [83]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [84]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

           0
0  이것이이것이이것이

In [85]:
import pandas as pd
import pymysql

In [86]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [87]:
cur_1=conn1.cursor()

In [88]:
sql="SELECT REPLACE('이것이 MySQL이다','이것이','This is');"

In [89]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [90]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

                 0
0  This is MySQL이다

In [91]:
import pandas as pd
import pymysql

In [92]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [93]:
cur_1=conn1.cursor()

In [94]:
sql="SELECT REVERSE('MySQL');"

In [95]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [96]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

       0
0  LQSyM

In [97]:
import pandas as pd
import pymysql

In [98]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [99]:
cur_1=conn1.cursor()

In [100]:
sql="SELECT CONCAT('이것이',SPACE(10),'MySQL이다');"

In [101]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [102]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

                      0
0  이것이          MySQL이다

In [103]:
import pandas as pd
import pymysql

In [104]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [105]:
cur_1=conn1.cursor()

In [106]:
sql="SELECT SUBSTRING('대한민국만세',3,2);"

In [107]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [108]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

    0
0  민국

In [109]:
import pandas as pd
import pymysql

In [110]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [111]:
cur_1=conn1.cursor()

In [112]:
sql="SELECT SUBSTRING_INDEX('cafe.naver.com','.',2);"

In [113]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [114]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

            0
0  cafe.naver

In [115]:
import pandas as pd
import pymysql

In [116]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [117]:
cur_1=conn1.cursor()

In [118]:
sql="SELECT SUBSTRING_INDEX('cafe.naver.com','.',-2);"

In [119]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [120]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

           0
0  naver.com