In [1]:
import pandas as pd
import pymysql

In [2]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [3]:
cur_1=conn1.cursor()

In [4]:
sql="SELECT USER(),DATABASE();"

In [5]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [6]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

                0      1
0  root@localhost  sqldb

In [7]:
import pandas as pd
import pymysql

In [8]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [9]:
cur_1=conn1.cursor()

In [10]:
sql="SELECT * FROM usertbl;"
sql2="SELECT FOUND_ROWS();"

In [11]:
cur_1.execute(sql)
cur_1.execute(sql2)
rows_1=cur_1.fetchall()
conn1.close()

In [12]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

    0
0  10

In [13]:
import pandas as pd
import pymysql

In [14]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [15]:
cur_1=conn1.cursor()

In [16]:
sql="UPDATE buytbl SET price=price*2;"
sql2="SELECT ROW_COUNT();"

In [17]:
cur_1.execute(sql)
cur_1.execute(sql2)
rows_1=cur_1.fetchall()
conn1.close()

In [18]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

    0
0  13

In [19]:
import pandas as pd
import pymysql

In [20]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [21]:
cur_1=conn1.cursor()

In [22]:
sql="SELECT SLEEP(5);"

In [23]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [24]:
import pandas as pd
import pymysql

In [25]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [26]:
cur_1=conn1.cursor()

In [27]:
sql="SELECT '5초후에 이게 보여요';"

In [28]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [29]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

             0
0  5초후에 이게 보여요