In [1]:
import pandas as pd
import pymysql

In [2]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [3]:
cur_1=conn1.cursor()

In [4]:
sql="SELECT ABS(-100);"

In [5]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [6]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

     0
0  100

In [7]:
import pandas as pd
import pymysql

In [8]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [9]:
cur_1=conn1.cursor()

In [10]:
sql="SELECT CEILING(4.7),FLOOR(4.7),ROUND(4.7);"

In [11]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [12]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

   0  1  2
0  5  4  5

In [13]:
import pandas as pd
import pymysql

In [14]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [15]:
cur_1=conn1.cursor()

In [16]:
sql="SELECT CONV('AA',16,2),CONV(100,10,8);"

In [17]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [18]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

          0    1
0  10101010  144

In [19]:
import pandas as pd
import pymysql

In [20]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [21]:
cur_1=conn1.cursor()

In [22]:
sql="SELECT DEGREES(PI()), RADIANS(180);"

In [23]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [24]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

       0         1
0  180.0  3.141593

In [25]:
import pandas as pd
import pymysql

In [26]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [27]:
cur_1=conn1.cursor()

In [28]:
sql="SELECT MOD(157,10), 157%10, 157 MOD 10;"

In [29]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [30]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

   0  1  2
0  7  7  7

In [31]:
import pandas as pd
import pymysql

In [32]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [33]:
cur_1=conn1.cursor()

In [34]:
sql="SELECT POW(2,3),SQRT(9);"

In [35]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [36]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

     0    1
0  8.0  3.0

In [37]:
import pandas as pd
import pymysql

In [38]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [39]:
cur_1=conn1.cursor()

In [40]:
sql="SELECT RAND(),FLOOR(1+(RAND()*(7-1)));"

In [41]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [42]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

          0    1
0  0.054835  3.0

In [43]:
import pandas as pd
import pymysql

In [44]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [45]:
cur_1=conn1.cursor()

In [46]:
sql="SELECT SIGN(100),SIGN(0),SIGN(-123);"

In [47]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [48]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

   0  1  2
0  1  0 -1

In [50]:
import pandas as pd
import pymysql

In [51]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [52]:
cur_1=conn1.cursor()

In [53]:
sql="SELECT TRUNCATE(12345.12345,2), TRUNCATE(12345.12345,-2);"

In [54]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [55]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

          0      1
0  12345.12  12300