In [14]:
import pandas as pd
import pymysql

In [15]:
conn=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [16]:
cur=conn.cursor()

In [17]:
sql_3="SELECT * FROM memberTBL;"

In [18]:
cur.execute(sql_3)
rows_2=cur.fetchall()
conn.close()

In [19]:
pd=pd.DataFrame(rows_2)
pd.head()

     0    1   2
0  BBK  비비코  미국
1  DJM  동짜몽  일본
2  EJW  은지원  경북
3  HJY  현주엽  경기
4  JKW  조관우  경기