In [1]:
import pandas as pd
import pymysql

In [2]:
conn=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [3]:
cur=conn.cursor()

In [4]:
sql="WITH cte_userTBL(addr,maxHeight)AS (SELECT addr,MAX(Height) FROM usertbl GROUP BY addr)SELECT AVG(maxHeight*1.0) AS '각 지역별 최고키의 평균' FROM cte_userTBL;"

In [5]:
cur.execute(sql)
rows=cur.fetchall()
conn.close()

In [6]:
pd=pd.DataFrame(rows)
pd.head()

           0
0  176.40000