In [1]:
import pandas as pd
import pymysql

In [2]:
conn=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [3]:
cur=conn.cursor()

In [4]:
sql_1="CREATE TABLE testTbl4(SELECT emp_no,first_name,last_name FROM employees.employees);"
sql_2="SELECT * FROM testTbl4"

In [5]:
cur.execute(sql_1)
rows=cur.fetchall()
conn.close()

In [6]:
import pandas as pd
import pymysql

In [7]:
conn=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [8]:
cur=conn.cursor()

In [9]:
cur.execute(sql_2)
rows_1=cur.fetchall()
conn.close()

In [10]:
pd=pd.DataFrame(rows_1)
pd.head()

       0          1         2
0  10001     Georgi   Facello
1  10002    Bezalel    Simmel
2  10003      Parto   Bamford
3  10004  Chirstian   Koblick
4  10005    Kyoichi  Maliniak