In [1]:
import pandas as pd
import pymysql

In [2]:
conn=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [3]:
cur=conn.cursor()

In [4]:
sql="WITH abc(userid,total)AS (SELECT userid,SUM(price*amount) FROM buyTBL GROUP BY userid)SELECT * FROM abc ORDER BY total DESC;"

In [5]:
cur.execute(sql)
rows=cur.fetchall()
conn.close()

In [6]:
pd=pd.DataFrame(rows)
pd.head()

     0     1
0  BBK  1980
1  KBS  1210
2  JYP   200
3  EJW    95
4  SSK    75