In [1]:
import pandas as pd
import pymysql

In [2]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [3]:
cur_1=conn1.cursor()

In [4]:
sql="SELECT ADDDATE('2025-01-01', INTERVAL 31 DAY),ADDDATE('2025-01-01', INTERVAL 1 MONTH);"

In [5]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [6]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

            0           1
0  2025-02-01  2025-02-01

In [7]:
import pandas as pd
import pymysql

In [8]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [9]:
cur_1=conn1.cursor()

In [10]:
sql="SELECT SUBDATE('2025-01-01', INTERVAL 31 DAY),SUBDATE('2025-01-01', INTERVAL 1 MONTH);"

In [11]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [12]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

            0           1
0  2024-12-01  2024-12-01

In [13]:
import pandas as pd
import pymysql

In [14]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [15]:
cur_1=conn1.cursor()

In [16]:
sql="SELECT ADDTIME('2025-01-01 23:59:59','1:1:1'),ADDTIME('15:00:00', '2:10:10');"

In [17]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [18]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

                     0         1
0  2025-01-02 01:01:00  17:10:10

In [19]:
import pandas as pd
import pymysql

In [20]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [21]:
cur_1=conn1.cursor()

In [22]:
sql="SELECT SUBTIME('2025-01-01 23:59:59','1:1:1'),SUBTIME('15:00:00', '2:10:10');"

In [23]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [24]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

                     0         1
0  2025-01-01 22:58:58  12:49:50

In [25]:
import pandas as pd
import pymysql

In [26]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [27]:
cur_1=conn1.cursor()

In [28]:
sql="SELECT YEAR(CURDATE()), MONTH(CURDATE()),DAY(CURDATE());"

In [29]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [30]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

      0   1   2
0  2022  10  20

In [31]:
import pandas as pd
import pymysql

In [32]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [33]:
cur_1=conn1.cursor()

In [34]:
sql="SELECT HOUR(CURTIME()),MINUTE(CURTIME()),SECOND(CURTIME()),MICROSECOND(CURTIME());"

In [35]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [36]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

    0   1   2  3
0  23  52  24  0

In [37]:
import pandas as pd
import pymysql

In [38]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [39]:
cur_1=conn1.cursor()

In [40]:
sql="SELECT DATE(NOW()),TIME(NOW());"

In [41]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [42]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

            0               1
0  2022-10-20 0 days 23:52:24

In [43]:
import pandas as pd
import pymysql

In [44]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [45]:
cur_1=conn1.cursor()

In [46]:
sql="SELECT DATEDIFF('2025-01-01',NOW()),TIMEDIFF('23:23:59','12:11:10');"

In [47]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [48]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

     0               1
0  804 0 days 11:12:49

In [49]:
import pandas as pd
import pymysql

In [50]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [51]:
cur_1=conn1.cursor()

In [52]:
sql="SELECT DAYOFWEEK(CURTIME()),MONTHNAME(CURTIME()),DAYOFYEAR(CURTIME());"

In [53]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [54]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

   0        1    2
0  5  October  293

In [55]:
import pandas as pd
import pymysql

In [56]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [57]:
cur_1=conn1.cursor()

In [58]:
sql="SELECT LAST_DAY('2025-02-01');"

In [59]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [60]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

            0
0  2025-02-28

In [61]:
import pandas as pd
import pymysql

In [62]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [63]:
cur_1=conn1.cursor()

In [64]:
sql="SELECT MAKEDATE(2025,38);"

In [65]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [66]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

            0
0  2025-02-07

In [67]:
import pandas as pd
import pymysql

In [68]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [69]:
cur_1=conn1.cursor()

In [70]:
sql="SELECT MAKETIME(12,11,1);"

In [71]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [72]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

                0
0 0 days 12:11:01

In [73]:
import pandas as pd
import pymysql

In [74]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [75]:
cur_1=conn1.cursor()

In [76]:
sql="SELECT PERIOD_ADD(22501,11),PERIOD_DIFF(202501,202312);"

In [77]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [78]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

       0   1
0  22512  13

In [79]:
import pandas as pd
import pymysql

In [80]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [81]:
cur_1=conn1.cursor()

In [82]:
sql="SELECT QUARTER('2025-07-07');"

In [83]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [84]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

   0
0  3

In [85]:
import pandas as pd
import pymysql

In [86]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [87]:
cur_1=conn1.cursor()

In [88]:
sql="SELECT TIME_TO_SEC('1:0:0');"

In [89]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [90]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

      0
0  3600