In [1]:
import pandas as pd
import pymysql

In [2]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='testdb',charset='utf8')

In [3]:
cur_1=conn1.cursor()

In [4]:
sql="SELECT addr FROM mixedtbl WHERE name = '임재범';"

In [5]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [6]:
pd_1=pd.DataFrame(rows_1)
pd_1

    0
0  서울