### 실습6

### SELF JOIN 활용

In [1]:
import pandas as pd
import pymysql

In [2]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [3]:
cur_1=conn1.cursor()

In [4]:
sql='''SELECT A.emp AS '부하직원', B.emp AS '직속상관', B.empTbl AS '직속상관연락처' FROM empTbl A
	INNER JOIN empTbl B
    ON A.manager=B.emp
    WHERE A.emp='우대리'; '''

In [5]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [6]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

     0    1       2
0  우대리  이부장  2222-2