### IF ELSE

In [9]:
import pandas as pd
import pymysql

In [10]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [11]:
cur_1=conn1.cursor()

In [12]:
sql='CALL ifProc();'

In [13]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [14]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

         0
0  100입니다.

### 입사일 확인

In [15]:
import pandas as pd
import pymysql

In [16]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [17]:
cur_1=conn1.cursor()

In [18]:
sql='''CALL ifProc2(); '''

In [19]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [20]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

                           0
0  입사한지13274일이나 지났습니다.축하합니다!