In [1]:
import pandas as pd
import pymysql

In [2]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [3]:
cur_1=conn1.cursor()

In [4]:
sql="SELECT IF (100>200,'참이다','거짓이다');"

In [5]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [6]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

      0
0  거짓이다

In [7]:
import pandas as pd
import pymysql

In [8]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [9]:
cur_1=conn1.cursor()

In [10]:
sql="SELECT IFNULL(NULL, '널이군요'), IFNULL(100,'널이군요');"

In [11]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [12]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

      0    1
0  널이군요  100

In [13]:
import pandas as pd
import pymysql

In [14]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [15]:
cur_1=conn1.cursor()

In [16]:
sql="SELECT NULLIF(100,100), NULLIF(200,100);"

In [17]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [18]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

      0    1
0  None  200

In [19]:
import pandas as pd
import pymysql

In [20]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [21]:
cur_1=conn1.cursor()

In [22]:
sql="SELECT CASE 10 WHEN 1 THEN '일' WHEN 5 THEN '오' WHEN 10 THEN '십' ELSE '모름' END AS 'CASE 연습';"

In [23]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [24]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

   0
0  십