### join  
전체 회원의 구매 기록

In [1]:
import pandas as pd
import pymysql

In [2]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [3]:
cur_1=conn1.cursor()

In [4]:
sql='''SELECT * FROM buytbl
	CROSS JOIN usertbl; '''

In [5]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [6]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,2,KBS,운동화,None,60,2,YJS,윤종신,1969,경남,None,None,170,2005-05-05
1,2,KBS,운동화,None,60,2,SSK,성시경,1979,서울,None,None,186,2013-12-12
2,2,KBS,운동화,None,60,2,LSG,이승기,1987,서울,011,1111111,182,2008-08-08
3,2,KBS,운동화,None,60,2,LJB,임재범,1963,서울,016,6666666,182,2009-09-09
4,2,KBS,운동화,None,60,2,KKH,김경호,1971,전남,019,3333333,177,2007-07-07

### 테스트로 사용할 많은 용량의 데이터를 생성할 때 사용

In [7]:
import pandas as pd
import pymysql

In [8]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [9]:
cur_1=conn1.cursor()

In [10]:
sql='''SELECT COUNT(*) AS '데이터개수' FROM employees
	CROSS JOIN titles; '''

In [11]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [12]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

              0
0  133003039392