In [1]:
import pandas as pd
import pymysql

In [2]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [3]:
cur_1=conn1.cursor()

In [4]:
sql="CREATE TABLE pivoTest(uName CHAR(3),season CHAR(2),amount INT);"

In [5]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [6]:
import pandas as pd
import pymysql

In [7]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [8]:
cur_1=conn1.cursor()

In [9]:
sql="INSERT INTO pivoTest VALUES ('김범수','겨울',10),('윤종신','여름',15),('김범수','가을',25),('김범수','봄',3),('김범수','봄',37),('윤종신','겨울',40),('김범수','여름',14),('김범수','겨울',22),('윤종신','여름',64);"
sql2="SELECT * FROM pivoTest;"

In [10]:
cur_1.execute(sql)
cur_1.execute(sql2)
rows_1=cur_1.fetchall()
conn1.close()

In [11]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

     0   1   2
0  김범수  겨울  10
1  윤종신  여름  15
2  김범수  가을  25
3  김범수   봄   3
4  김범수   봄  37

In [45]:
import pandas as pd
import pymysql

In [46]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [47]:
cur_1=conn1.cursor()

In [48]:
sql="SELECT uName,SUM(IF('season=봄',amount,0)) AS '봄', SUM(IF('season=여름',amount,0)) AS '여름', SUM(IF('season=가을',amount,0)) AS '가을',SUM(IF('season=겨울',amount,0)) AS '겨울', SUM(amount) AS '합계' FROM pivoTest GROUP BY uName;"

In [49]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [50]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

     0  1  2  3  4    5
0  김범수  0  0  0  0  111
1  윤종신  0  0  0  0  119