#### 결과 확인

In [19]:
import pandas as pd
import pymysql

In [20]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='triggerDB',charset='utf8')

In [21]:
cur_1=conn1.cursor()

In [22]:
sql="SELECT * FROM orderTbl;"

In [23]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [24]:
pd_1=pd.DataFrame(rows_1)
pd_1

   0     1  2  3
0  1  JOHN  배  5

#### 결과 확인

In [25]:
import pandas as pd
import pymysql

In [26]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='triggerDB',charset='utf8')

In [27]:
cur_1=conn1.cursor()

In [28]:
sql="SELECT * FROM prodTbl;"

In [29]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [30]:
pd_1=pd.DataFrame(rows_1)
pd_1

    0    1
0  사과  100
1   배   95
2   귤  100

#### 결과 확인

In [31]:
import pandas as pd
import pymysql

In [32]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='triggerDB',charset='utf8')

In [33]:
cur_1=conn1.cursor()

In [34]:
sql="SELECT * FROM deliverTbl;"

In [35]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [36]:
pd_1=pd.DataFrame(rows_1)
pd_1

   0  1  2
0  1  배  5