#### 결과 확인

In [7]:
import pandas as pd
import pymysql

In [8]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [9]:
cur_1=conn1.cursor()

In [10]:
sql="SELECT * FROM userTBL;"

In [11]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [12]:
pd_1=pd.DataFrame(rows_1)
pd_1

      0    1     2   3     4        5    6           7
0   AAA   에이     0  서울   011  1112222  181  2022-12-25
1   BBB   비이  2023  경기   011  1113333  171  2019-03-25
2   BBK  바비킴  1973  서울   010  0000000  176  2013-05-05
3   EJW  은지원  1972  경북   011  8888888  174  2014-03-03
4   JKW  조관우  1965  경기   018  9999999  172  2010-10-10
5   JYP  조용필  1950  경기   011  4444444  166  2009-04-04
6   KBS  김범수  1979  경남   011  2222222  173  2012-04-04
7   KKH  김경호  1971  전남   019  3333333  177  2007-07-07
8   LJB  임재범  1963  서울   016  6666666  182  2009-09-09
9   LSG  이승기  1987  서울   011  1111111  182  2008-08-08
10  SSK  성시경  1979  서울  None     None  186  2013-12-12
11  YJS  윤종신  1969  경남  None     None  170  2005-05-05