#### step1

In [1]:
import pandas as pd
import pymysql

In [2]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [3]:
cur_1=conn1.cursor()

In [4]:
sql="CALL cursorProc();"

In [5]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [6]:
pd_1=pd.DataFrame(rows_1)
pd_1

                       0
0  고객 키의 평균 ==> 175.8000

#### step2

In [7]:
import pandas as pd
import pymysql

In [8]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [9]:
cur_1=conn1.cursor()

In [10]:
sql="CALL gradeProc();"
sql2="SELECT * FROM userTBL;"

In [11]:
cur_1.execute(sql)
cur_1.execute(sql2)
rows_1=cur_1.fetchall()
conn1.close()

In [12]:
pd_1=pd.DataFrame(rows_1)
pd_1

     0    1     2   3     4        5    6           7      8
0  BBK  바비킴  1973  서울   010  0000000  176  2013-05-05  최우수고객
1  EJW  은지원  1972  경북   011  8888888  174  2014-03-03   일반고객
2  JKW  조관우  1965  경기   018  9999999  172  2010-10-10   유령고객
3  JYP  조용필  1950  경기   011  4444444  166  2009-04-04   일반고객
4  KBS  김범수  1979  경남   011  2222222  173  2012-04-04   우수고객
5  KKH  김경호  1971  전남   019  3333333  177  2007-07-07   유령고객
6  LJB  임재범  1963  서울   016  6666666  182  2009-09-09   유령고객
7  LSG  이승기  1987  서울   011  1111111  182  2008-08-08   유령고객
8  SSK  성시경  1979  서울  None     None  186  2013-12-12   일반고객
9  YJS  윤종신  1969  경남  None     None  170  2005-05-05   유령고객