#### 삽입

In [42]:
import pandas as pd
import pymysql

In [43]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='testdb',charset='utf8')

In [44]:
cur_1=conn1.cursor()

In [45]:
sql="INSERT INTO testTbl VALUES(4, '마마무');"
sql2="SELECT @msg;"

In [46]:
cur_1.execute(sql)
cur_1.execute(sql2)
rows_1=cur_1.fetchall()
conn1.close()

In [47]:
pd_1=pd.DataFrame(rows_1)
pd_1

      0
0  None

#### 수정

In [48]:
import pandas as pd
import pymysql

In [49]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='testdb',charset='utf8')

In [50]:
cur_1=conn1.cursor()

In [51]:
sql="UPDATE testTbl SET txt = '블핑' WHERE id = 3;"
sql2="SELECT @msg;"

In [52]:
cur_1.execute(sql)
cur_1.execute(sql2)
rows_1=cur_1.fetchall()
conn1.close()

In [53]:
pd_1=pd.DataFrame(rows_1)
pd_1

      0
0  None

#### 삭제

In [54]:
import pandas as pd
import pymysql

In [55]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='testdb',charset='utf8')

In [56]:
cur_1=conn1.cursor()

In [57]:
sql="DELETE FROM testTbl WHERE id = 4;"
sql2="SELECT @msg;"

In [58]:
cur_1.execute(sql)
cur_1.execute(sql2)
rows_1=cur_1.fetchall()
conn1.close()

In [59]:
pd_1=pd.DataFrame(rows_1)
pd_1

            0
0  가수 그룹이 삭제됨