In [1]:
import pandas as pd
import pymysql

In [2]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='Tabledb',charset='utf8')

In [3]:
cur_1=conn1.cursor()

In [4]:
sql='''SELECT userID, name, addr FROM usertbl;'''

In [5]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [6]:
pd_1=pd.DataFrame(rows_1)
pd_1

     0    1   2
0  EJW  은지원  경북
1  JKW  조관우  경기
2  JYP  조용필  경기
3  KBS  김범수  경남
4  KKH  김경호  전남
5  LJB  임재범  서울
6  LSG  이승기  서울
7  SSK  성시경  서울
8  YJS  윤종신  경남

In [7]:
import pandas as pd
import pymysql

In [8]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='Tabledb',charset='utf8')

In [9]:
cur_1=conn1.cursor()

In [10]:
sql='''SELECT * FROM v_usertbl; '''

In [11]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [12]:
pd_1=pd.DataFrame(rows_1)
pd_1

     0    1   2
0  EJW  은지원  경북
1  JKW  조관우  경기
2  JYP  조용필  경기
3  KBS  김범수  경남
4  KKH  김경호  전남
5  LJB  임재범  서울
6  LSG  이승기  서울
7  SSK  성시경  서울
8  YJS  윤종신  경남