In [1]:
import pandas as pd
import pymysql

In [2]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [3]:
cur_1=conn1.cursor()

In [4]:
sql='''DESCRIBE v_usertbl; '''

In [5]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [6]:
pd_1=pd.DataFrame(rows_1)
pd_1

        0            1   2 3     4 5
0  userid      char(8)  NO    None
1    name  varchar(10)  NO    None
2    addr      char(2)  NO    None