In [14]:
import pandas as pd
import pymysql

In [15]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [16]:
cur_1=conn1.cursor()

In [17]:
sql='''SELECT `USER ID`, `USER NAME` FROM v_userbuytbl; '''

In [18]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [19]:
pd_1=pd.DataFrame(rows_1)
pd_1

      0    1
0   BBK  바비킴
1   BBK  바비킴
2   BBK  바비킴
3   BBK  바비킴
4   BBK  바비킴
5   EJW  은지원
6   EJW  은지원
7   EJW  은지원
8   JYP  조용필
9   KBS  김범수
10  KBS  김범수
11  KBS  김범수
12  SSK  성시경

In [8]:
import pandas as pd
import pymysql

In [9]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [10]:
cur_1=conn1.cursor()

In [11]:
sql='''SELECT `이름`,`전화 번호` FROM v_userbuytbl; '''

In [12]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [13]:
pd_1=pd.DataFrame(rows_1)
pd_1

      0           1
0   바비킴  0100000000
1   바비킴  0100000000
2   바비킴  0100000000
3   바비킴  0100000000
4   바비킴  0100000000
5   은지원  0118888888
6   은지원  0118888888
7   은지원  0118888888
8   조용필  0114444444
9   김범수  0112222222
10  김범수  0112222222
11  김범수  0112222222
12  성시경        None