In [1]:
import pandas as pd
import pymysql

In [2]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [3]:
cur_1=conn1.cursor()

In [4]:
sql='''SHOW VARIABLES LIKE 'innodb_data_file_path';'''

In [5]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [6]:
pd_1=pd.DataFrame(rows_1)
pd_1

                       0                       1
0  innodb_data_file_path  ibdata1:12M:autoextend