In [1]:
import pandas as pd
import pymysql

In [2]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='compressDB',charset='utf8')

In [3]:
cur_1=conn1.cursor()

In [4]:
sql="SHOW TABLE STATUS FROM compressDB;"

In [5]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [6]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,compresstbl,InnoDB,10,Compressed,299128,25,7626752,0,0,2097152,None,2022-11-10 01:06:27,2022-11-10 01:10:41,None,utf8mb4_0900_ai_ci,None,row_format=COMPRESSED,
1,normaltbl,InnoDB,10,Dynamic,299497,40,12075008,0,0,4194304,None,2022-11-10 01:06:27,2022-11-10 01:10:35,None,utf8mb4_0900_ai_ci,None,,