In [1]:
import pandas as pd
import pymysql

In [2]:
conn=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [3]:
cur=conn.cursor()

In [4]:
sql_1="SELECT * FROM memberTBL;"

In [5]:
cur.execute(sql_1)
rows=cur.fetchall()
conn.close()

In [6]:
pd=pd.DataFrame(rows)
pd.head()

     0    1   2
0  BBK  바비킴  서울
1  EJW  은지원  경북
2  JKW  조관우  경기