In [1]:
import pandas as pd
import pymysql

In [2]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [3]:
cur_1=conn1.cursor()

In [4]:
sql="SELECT * FROM employees.titles"

In [5]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [6]:
pd_1=pd.DataFrame(rows_1)
pd_1.head()

       0                1           2           3
0  10001  Senior Engineer  1986-06-26  9999-01-01
1  10002            Staff  1996-08-03  9999-01-01
2  10003  Senior Engineer  1995-12-03  9999-01-01
3  10004         Engineer  1986-12-01  1995-12-01
4  10004  Senior Engineer  1995-12-01  9999-01-01