In [1]:
import pandas as pd

In [2]:
import pymysql
conn=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='employees',charset='utf8')

In [3]:
cur=conn.cursor()

In [4]:
sql_1="SELECT first_name,gender FROM employees;"

In [5]:
cur.execute(sql_1)
rows=cur.fetchall()
conn.close()

In [6]:
pd=pd.DataFrame(rows)
pd.head()

           0  1
0     Georgi  M
1    Bezalel  F
2      Parto  M
3  Chirstian  M
4    Kyoichi  M