In [8]:
import pandas as pd
import pymysql

In [9]:
conn=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [10]:
cur=conn.cursor()

In [11]:
sql_2="SELECT * FROM memberTBL;"

In [12]:
cur.execute(sql_2)
rows_1=cur.fetchall()
conn.close()

In [13]:
pd=pd.DataFrame(rows_1)
pd.head()

     0    1   2
0  BBK  바비킴  서울
1  EJW  은지원  경북
2  HJY  현주엽  경기
3  JKW  조관우  경기
4  SJH  서장훈  서울